/*=====================================
        FLEXBOX
======================================*/
.header-container,
.aside-nav ul,
.main-container, 
.user-info,
.alert,
.tab,
.traffic-chart ul{
  display: flex;
}

.user-info {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-container {
  width: 90%;
  justify-content: space-between;
  align-items: center
}

.aside-nav ul{
  @include center;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}
.main-container {
  flex-direction: column;
}
.alert,
.traffic-chart ul {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
