/*=====================================
        FLEXBOX
======================================*/
.header-container,
.aside-nav ul,
.user-info,
.alert,
.tab,
.traffic-chart ul,
.social-contain,
.message-user-contain,
.settings-contain,
.settings-button,
.bell-icon{
  display: flex;
}

.user-info {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-container {
  width: 90%;
  justify-content: space-between;
  align-items: center
}

.aside-nav ul{
  @include center;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
}
.bell-icon {
  flex-direction: column-reverse;
  & .notification {
    align-self: flex-end;
  }
}
.traffic-chart ul {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.alert {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.social-contain {
  flex-direction: column;
  align-items: center;
}
.message-user-contain {
  flex-direction: column;
}
.settings-button {
  flex-direction: row;
  justify-content: space-between;
}
.settings-contain {
  flex-direction: column;
  justify-content: space-between;
}
