/*=====================================
        GRID COMPONENT
======================================*/

.header-container,
.aside-container,
.alert,
.social-contain,
.new-mem-contain,
.recent-act-contain,
.message-user-contain,
.settings-contain{
  @include center;
  width: 90%;
}

.line-chart,
.bar-chart,
.pie-chart {
  @include center;
  width: 95vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
}