/*=====================================
        GRID COMPONENT
======================================*/

.header-container,
.traffic-nav,
.member-list,
.col-1,
.col-2 {
// .alert,
// .traffic-nav,
// .social-contain,
// .new-mem-contain,
// .recent-act-contain,
// .message-user-contain,
// .settings-contain{
  @include center;
  width: 90vw;
}
.aside-container {
  @include center;
  width: 95%;
}

.line-chart,
.bar-chart,
.pie-chart {
  @include center;
  width: 95vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
}