/*=====================================
        IMG COMPONENT
======================================*/

img {
  width: 20%;
  min-width: 50px;
  border-radius: 50%;
  .user-info & {
      // max-height: 32px;
      margin-left: .5em;
      max-width: 100px;
   }
}
svg {
  @include center;
  width: 100%;
  display: inline-block;
  fill: $white-color;
  .bell-icon & {
    transition: transform .5s ease-in-out .1s;
  }
  .bell-icon &:hover {
    cursor: pointer;
    transform: scale(1.1);
    fill-opacity: .5;
  }
  .aside-nav & {
    width: 50%;
  } 
  .user-info & {
    width: 20%;
    min-width: 50px;
    max-width: 100px;
    margin-right: 0;
    padding-right: 1em;
  }
}

.facebook,
.insta,
.twitter {
  stroke: $primary-color;
}

.insta {
  stroke-width: .1;
}

.facebook-icon-background,
.insta-icon-background,
.twitter-icon-background {
  padding: .75em;
  width: 50%;
  max-width: 60px;
  border-radius: 50%;
  background-color: $primary-color;
  float: left;
  margin-right: 1rem;
}
