/*=====================================
        IMG COMPONENT
======================================*/

img {
  width: 20%;
  min-width: 50px;
  border-radius: 50%;
  .user-info & {
      margin-left: .5em;
      max-width: 100px;
   }
}

svg {
  @include center;
  width: 20%;
  display: block;
  fill: $white-color;
  .aside-nav & {
    width: 50%;
  } 
  .user-info & {
    min-width: 50px;
    max-width: 100px;
    margin-right: 0;
    padding-right: 1em;
    border-right: 1px $border-grey solid;
   }
}

.facebook,
.insta,
.twitter {
  stroke: $primary-color;
}
