/*=====================================
        LAYOUT
======================================*/

.header {
  background-color: $primary-color; 
}
.aside {
  background-color: $secondary-color;      
}
.aside-container,
.main-container {
  width: 90%;
}