/*=====================================
        LAYOUT
======================================*/

.header {
  background-color: $primary-color; 
}
.header-container {
  padding: .5em 0;
}
.user-info img, .user-info svg {
  padding: 0 .5em;
}
h1 {
  font-size: 1rem;
  color: $white-color;
  font-weight: 200;
}
span {
  font-weight: bold;
}
h2 {
  font-size: .8rem;
  font-weight: 200;
  color: $white-color;
}
.aside {
  background-color: $secondary-color;
  &-nav ul{
    padding: .5em 0;
  }      
}
.aside-container,
.main-container {
  width: 90%;
}