/*=====================================
        LAYOUT
======================================*/

.header {
  background-color: $primary-color; 
}
.header-container {
  padding: .5em 0;
}
.user-info img, .user-info svg {
  padding: 0 .5em;
}
h1 {
  font-size: 1.2rem;
  color: $white-color;
  font-weight: 200;
}
h1 span {
  font-weight: bold;
}
.user-info h2 {
  font-size: .8rem;
  font-weight: 200;
  color: $white-color;
}
.aside {
  background-color: $secondary-color;
  &-nav ul{
    padding: .5em 0;
  }      
}

.dashboard {
  text-align: left;
  font-size: 1rem;
  padding: 0 1em;
}
.tab-space {
  width: 100%;
  background-color: $background-light-grey;
  border-left: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
}
.tab {
  margin-bottom: 1.5em;
}
.alert {
  border: 1px solid $primary-color;
  border-radius: 5px;
  background-color: $primary-color;
  color: $white-color;
  font-size: .6rem;
  font-weight: 200;
  padding: 0 1em;
  & .close {
    font-size: 1.5rem;
  }
  & .close:hover {
    cursor: pointer;
  }
}
.traffic {
  margin-top: .5em;
}
.traffic-chart,
.daily-traffic,
.mobile-users,
.social,
.new-members,
.recent-activity {
  border-bottom: 1px solid $border-grey;
  padding-bottom: 1em;
}
.traffic h2,
.daily-traffic h2,
.mobile-users h2,
.social h2,
.new-members h2,
.recent-activity h2 {
    text-align: left;
    font-size: .9rem;
    margin-left: 5%;
}

.traffic-chart ul {
  padding-inline-start: 0;
  margin-left: 10%;
  width: 70%;
  font-size: .8rem;
}
.line-chart,
.bar-chart,
.pie-chart {
  @include center;
  width: 100%;
}
.line-chart,
.bar-chart {
  padding-top: 1.5rem;
}

.facebook-contain,
.insta-contain,
.twitter-contain {
  text-align: left;
  border: 1px solid $border-grey;
  background-color: $background-light-grey;
  border-radius: 10px;
  margin-bottom: .5rem;
  padding: 1rem;
  & h3,
  & h3,
  & h3 {
    color: $primary-color;
    font-size: 1rem;
    margin: 0;
  }
  & p,
  & p,
  & p {
    margin: 0;
    font-size: 2em;
    font-weight: 200;
  }
}

.members {
  padding-inline-start: 0;
  font-size: .75em;
  & .email {
    color: $primary-color;
  }
  & p {
    margin: 0;
  }
  & li {
    border-bottom: 1px solid $border-grey;
    padding: 1.5em 0 1.5em 0;
  }
  & li:last-child {
    border: none;
    padding-bottom: 0;
  }
}

