/*=====================================
        MEDIA QUERIES
======================================*/

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
      'header header'
      'aside main';
  }
  .header {
    grid-area: header;
  }
  .aside {
    grid-area: aside;
  }
  main {
    grid-area: main;
  }
  .main-container {
    display: grid;
    grid-template-columns: 50%;
  }
  .alert,
  .traffic-chart,
  .social,
  .new-members,
  .recent-activity,
  .message-user,
  .settings {
    grid-column: 1 / span 2;
  }
  .daily-traffic {
    grid-column: 1 / span 1;
  }
  .mobile-users {
    grid-column: 2 / span 1;
  }
  .daily-traffic h2,
  .mobile-users h2 {
    margin-left: 5%;
  }
  h2 {
    margin-left: 2%;
  }
  .header-container,
  .social-contain {
    width: 95%;
  }
  .bar-chart,
  .pie-chart {
    width: 45vw;
  }
  .line-chart {
    width: 90vw;
  }
  .aside-nav ul {
    flex-direction: column;
    margin-top: .5em;
    & li {
      margin-bottom: 1em;
    }
  }
  .traffic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & li {
      margin-right: 0;
    }
  }
  .traffic-chart ul {
    justify-content: flex-end;
    & li {
      margin-left: 1em;
    }
  }
  .mobile-users {
    border-left: 1px solid $border-grey;
  }
  .social-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .facebook-contain,
  .insta-contain,
  .twitter-contain {
    flex-grow: 1;
  }
  .facebook-contain,
  .insta-contain {
    margin-right: .5em;
  }
  .settings label {
    width: 25vw;
  }
  .members,
  .recent-mem {
    & li {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    & .member-text,
    & .recent-text {
      padding-left: 1em;
    }
    & img {
      max-width: 75px;
    }
    & p {
      text-align: left;
    }
    & li p:nth-child(3) {
      margin-left: auto;
    }
  }
  .recent-mem li p:nth-child(3) {
    display: block;
    font-size: 1.5rem;
    color: $primary-color;
  }
}

@media (min-width: 1024px) {

  .new-mem-contain,
  .recent-act-contain,
  .message-user-contain,
  .member-list,
  .settings-contain {
    width: 45vw;
  }
  .new-members,
  .message-user {
    grid-column: 1 / span 1;
    border-right: 1px solid $border-grey;
  }
  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }
  .message-user {
    border-bottom: none;
  }
  .settings-button {
    margin-bottom: 0;
  }
}