/*=====================================
        BASE STYLES
======================================*/

* {
  box-sizing: border-box;
  & ul {
    padding-inline-start: 0;
  }
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}